* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.dog-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    padding: 1.5rem
}
.dog-btn {
    margin-left: auto;
    margin-right: auto;
}